# Copy this file to .env and fill in the required fields.

# License key for LightlyStudio
LIGHTLY_STUDIO_LICENSE_KEY="your_license_key_here"

# LightlyStudio server
# LIGHTLY_STUDIO_PROTOCOL=http
# LIGHTLY_STUDIO_HOST=0.0.0.0
# LIGHTLY_STUDIO_PORT=8001

# Debug
# LIGHTLY_STUDIO_DEBUG=false

# Embedding model cache dir, defaults to user/.cache/lightly-studio. 
# LIGHTLY_STUDIO_MODEL_CACHE_DIR="/Users/username/.cache/lightly-studio"

# Example script dataset paths
EXAMPLES_DATASET_PATH="dataset_examples/coco_subset_128_images/images"
EXAMPLES_YOLO_YAML_PATH="dataset_examples/road_signs_yolo/data.yaml"
EXAMPLES_YOLO_SPLIT="train"
EXAMPLES_COCO_JSON_PATH="dataset_examples/coco_subset_128_images/instances_train2017.json"
EXAMPLES_PRED_ANNOTATIONS_JSON="dataset_examples/coco_subset_128_images/predictions_train2017.json"
EXAMPLES_COCO_IMAGES_PATH="dataset_examples/coco_subset_128_images/images"
EXAMPLES_COCO_CAPTION_JSON_PATH="dataset_examples/coco_subset_128_images/captions_train2017.json"
EXAMPLES_COCO_CAPTION_IMAGES_PATH="dataset_examples/coco_subset_128_images/images"
EXAMPLES_LIGHTLY_PREDICTIONS="dataset_examples/coco_subset_128_images/predictions"
EXAMPLES_VIDEO_DATASET_PATH="dataset_examples/youtube_vis_50_videos/train/videos"
EXAMPLES_VIDEO_YVIS_JSON_PATH="dataset_examples/youtube_vis_50_videos/train/instances_50.json"
EXAMPLES_PASCALVOC_IMAGES_PATH="dataset_examples/voc2012_10_images/JPEGImages"
EXAMPLES_PASCALVOC_MASKS_PATH="dataset_examples/voc2012_10_images/SegmentationClass"
EXAMPLES_PASCALVOC_PRED_MASKS_PATH="dataset_examples/voc2012_10_images/SegmentationClassPredictions"
EXAMPLES_PASCALVOC_CATEGORIES_JSON_PATH="dataset_examples/voc2012_10_images/class_id_to_name.json"
EXAMPLES_MIDV_PATH="dataset_examples/midv_2020_10_samples"
EXAMPLES_ACTIVITYNET_VIDEOS_PATH="dataset_examples/activitynet_10_videos/videos"
EXAMPLES_ACTIVITYNET_JSON_PATH="dataset_examples/activitynet_10_videos/activity_net.v1-3.min.json"

# Request timing for endpoint functionality.
# 
# Flag enabling request timing middleware.
# LIGHTLY_STUDIO_REQUEST_TIMING_ENABLED=true
# 
# Flag to control request timing (Default is 200ms)
# LIGHTLY_STUDIO_REQUEST_TIMING_ERROR_MS=
#
# Flag to control whether requests that exceed the error threshold should be failed with a 503 response.
# LIGHTLY_STUDIO_REQUEST_TIMING_FAIL_ON_ERROR=true

